/*
L'intégralité du contenu de ce fichier doit être placé dans votre style.css pour vos tests
Ce fichier servira de base au .css final donc ADAPTEZ votre code en fonction de ce code au lieu de le MODIFIER
*/

/* --- CREATION DES VARIABLES --- */

:root {
    /* Couleurs du site*/
    --couleur-primaire: #4180de;
    --couleur-secondaire: #049B7F;
    --couleur-annulation: #DB7979;
    --couleur-attente: orange;
    --couleur-obligatoire: rgba(255, 0, 0, 0.75);

    --couleur-bordure-bouton: rgba(0, 0, 0, 0.25);
    --couleur-bordure-input: rgba(0, 0, 0, 0.5);
    --couleur-bordure-placeholder: rgba(0, 0, 0, 0.3);

    /* Taille de polices du site de base (Ordinateur) */
    --taille-police-h1: 60px;
    --taille-police-h2: 40px;
    --taille-police-h3: 36px;
    --taille-police-h4: 32px;
    --taille-police-h5: 24px;
    --taille-police-h6: 20px;
    --taille-police-p: 30px;

    /* Taille de polices du site de base (Téléphone) */
    --taille-police-tel-h1: 40px;
    --taille-police-tel-h2: 30px;
    --taille-police-tel-h3: 24px;
    --taille-police-tel-h4: 20px;
    --taille-police-tel-h5: 14px;
    --taille-police-tel-h6: 10px;
    --taille-police-tel-p: 16px;
}

/* --- IMPLEMENTATION DES POLICES --- */

/* MONTSERRAT */

@font-face {
    font-family: 'montserrat-black';
    src: url('Fonts/Montserrat/Black/montserrat-black.woff2') format('woff2'),
         url('Fonts/Montserrat/Black/montserrat-black.woff') format('woff'),
         url('Fonts/Montserrat/Black/montserrat-black.otf') format('opentype');
}

@font-face {
    font-family: 'montserrat-extrabold';
    src: url('Fonts/Montserrat/ExtraBold/montserrat-extrabold.woff2') format('woff2'),
         url('Fonts/Montserrat/ExtraBold/montserrat-extrabold.woff') format('woff'),
         url('Fonts/Montserrat/ExtraBold/montserrat-extrabold.otf') format('opentype');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('Fonts/Montserrat/Bold/montserrat-bold.woff2') format('woff2'),
         url('Fonts/Montserrat/Bold/montserrat-bold.woff') format('woff'),
         url('Fonts/Montserrat/Bold/montserrat-bold.otf') format('opentype');
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('Fonts/Montserrat/SemiBold/montserrat-semibold.woff2') format('woff2'),
         url('Fonts/Montserrat/SemiBold/montserrat-semibold.woff') format('woff'),
         url('Fonts/Montserrat/SemiBold/montserrat-semibold.otf') format('opentype');
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('Fonts/Montserrat/Medium/montserrat-medium.woff2') format('woff2'),
         url('Fonts/Montserrat/Medium/montserrat-medium.woff') format('woff'),
         url('Fonts/Montserrat/Medium/montserrat-medium.otf') format('opentype');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('Fonts/Montserrat/Regular/montserrat-regular.woff2') format('woff2'),
         url('Fonts/Montserrat/Regular/montserrat-regular.woff') format('woff'),
         url('Fonts/Montserrat/Regular/montserrat-regular.otf') format('opentype');
}

@font-face {
    font-family: 'montserrat-light';
    src: url('Fonts/Montserrat/Light/montserrat-light.woff2') format('woff2'),
         url('Fonts/Montserrat/Light/montserrat-light.woff') format('woff'),
         url('Fonts/Montserrat/Light/montserrat-light.otf') format('opentype');
}

@font-face {
    font-family: 'montserrat-extralight';
    src: url('Fonts/Montserrat/ExtraLight/montserrat-extralight.woff2') format('woff2'),
         url('Fonts/Montserrat/ExtraLight/montserrat-extralight.woff') format('woff'),
         url('Fonts/Montserrat/ExtraLight/montserrat-extralight.otf') format('opentype');
}

@font-face {
    font-family: 'montserrat-thin';
    src: url('Fonts/Montserrat/Thin/montserrat-thin.woff2') format('woff2'),
         url('Fonts/Montserrat/Thin/montserrat-thin.woff') format('woff'),
         url('Fonts/Montserrat/Thin/montserrat-thin.otf') format('opentype');
}

/* QUATTROCENTO SANS */

@font-face {
    font-family: 'quattrocento-sans-bold';
    src: url('Fonts/QuattrocentoSans/Bold/quattrocentosans-bold.woff2') format('woff2'),
         url('Fonts/QuattrocentoSans/Bold/quattrocentosans-bold.woff') format('woff'),
         url('Fonts/QuattrocentoSans/Bold/quattrocentosans-bold.otf') format('opentype');
}

@font-face {
    font-family: 'quattrocento-sans-italic';
    src: url('Fonts/QuattrocentoSans/Italic/quattrocentosans-italic.woff2') format('woff2'),
         url('Fonts/QuattrocentoSans/Italic/quattrocentosans-italic.woff') format('woff'),
         url('Fonts/QuattrocentoSans/Italic/quattrocentosans-italic.otf') format('opentype');
}

@font-face {
    font-family: 'quattrocento-sans-bolditalic';
    src: url('Fonts/QuattrocentoSans/BoldItalic/quattrocentosans-bolditalic.woff2') format('woff2'),
         url('Fonts/QuattrocentoSans/BoldItalic/quattrocentosans-bolditalic.woff') format('woff'),
         url('Fonts/QuattrocentoSans/BoldItalic/quattrocentosans-bolditalic.otf') format('opentype');
}

@font-face {
    font-family: 'quattrocento-sans-regular';
    src: url('Fonts/QuattrocentoSans/Regular/quattrocentosans-regular.woff2') format('woff2'),
         url('Fonts/QuattrocentoSans/Regular/quattrocentosans-regular.woff') format('woff'),
         url('Fonts/QuattrocentoSans/Regular/quattrocentosans-regular.otf') format('opentype');
}



/* --- INITIALISATION DES STYLES DE BALISES COMMUNES --- */

h1{
    font-size: var(--taille-police-h1);
    font-family: 'montserrat-bold';
}

h2{
    font-size: var(--taille-police-h2);
}

h3{
    font-size: var(--taille-police-h3);
}

h4{
    font-size: var(--taille-police-h4);
}

p{
    font-size: var(--taille-police-p);
    font-family: 'quattrocento-sans-regular';
}

h5{
    font-size: var(--taille-police-h5);
}

h6{
    font-size: var(--taille-police-h6);
}

button{
    font-family: 'quattrocento-sans-bold';
    font-size: var(--taille-police-h4);

    color: white;
    border-color: var(--couleur-bordure-bouton);
}

input{
    border-radius: 20px;
    border-color: var(--couleur-bordure-input);

    padding-left: 20px;
}

input::placeholder{
    font-family: 'quattrocento-sans-italic';
    color: var(--couleur-bordure-placeholder);
}

/* --- AFFICHAGE DE LA FENÊTRE --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* --- HEADER ET FOOTER --- */

/* -- HEADER -- */

/* - Entête - */

header {
    background-color: var(--couleur-primaire); 
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

header img {
    height: 50px;
    width: 50px;
    margin-right: 9%;
    border-radius: 50%;
}

/* - Barre de recherche - */

.recherche_boite {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 70%;
    margin-left: 20%;
}

.recherche_boite input {
    width: 100%;
    padding: 10px;
    
    border-radius: 10px;
    font-size: 16px;
}

.recherche_boite button {
    background-color: var(--couleur-primaire);
    border: none;

    cursor: pointer;
}

.recherche_boite button img {
    width: 35px;
    height: 35px;
    margin-top: 8px;
}

/* - Bouton de connexion - */

.login_btn {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 20%;
}

.login_btn img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.login_btn a{
    color: #ffff;
    text-decoration: none;
}

/* -- Footer -- */

footer {
    background-color: var(--couleur-primaire); /* Blue background */
    padding: 20px;
    color: white;
}

footer a, footer p {
    font-family: 'quattrocento-sans-regular';
}

footer h3{
    font-family: 'quattrocento-sans-bold';
}

.footer_container {
    display: flex;
    margin: 0;
    padding: 5px;
}

.footer_logo {
    height: 100px;
    width: 100px;
    margin-bottom: 7px;
    margin-left: 2em;
}

.contact_info {
    margin-left: 10%;
    flex-grow: 1;
}


.contact_info h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact_info p {
    margin: 5px 0;
    font-size: 1em;
}

.contact_info a {
    color: white;
    text-decoration: none;
}

.contact_info a:hover {
    text-decoration: underline;
}

.footer_right{
    margin-left: 10%;
    margin-right: 25%;
}

.footer_right h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer_right ul {
    list-style: none;
}

.footer_right ul li {
    margin-bottom: 5px;
}

.footer_right ul li a {
    color: white;
    text-decoration: none;
}

.footer_right ul li a:hover {
    text-decoration: underline;
}
